@charset "UTF-8";

// =================
//  bourbon
// =================
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


// =================
//  common
// =================
.test {
  background: yellow;
}
.test2 {
  background: red;
}
.test3 {
  background: white;
}
